<web-app>
	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
		<welcome-file>Save.jsp</welcome-file>
		<welcome-file>Invalid.jsp</welcome-file>
		<welcome-file>Featch.jsp</welcome-file>
		<welcome-file>Update.jsp</welcome-file>
		<welcome-file>Display.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>mad</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mad</servlet-name>
		<url-pattern>/App7</url-pattern>
	</servlet-mapping>
</web-app>